@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");

/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/

html, body, #root {
  height:100%;
}


/*Camp-Registration*/

.reg-box {
  width: 50%;
  margin: auto;
}

.reg-name{
  display: flex;
  justify-content: space-between;
}

input {
  width: 250px;
}

#p{
  margin:0px;
  margin-bottom: 5px;
}

/*Dashboard*/
/*#root{
  overflow: hidden;
}*/

.welcome {
  display: flex;
}

/*Layout*/

footer .copyright {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0 0 2rem 0;
  padding: 0;
  text-align: center;
}

.copyright p{
  text-align: center;
}

/*NewCampaign*/

.new-camp-wrap {
  padding:50px;
}

.ui.grey.card.card :hover{
  background-color: lightgrey;
}

.ui.vertical.tabular.menu.item :hover{
  background-color: grey;
}

.stretched.twelve.wide.column {
  margin-top: 2em;
}

th, td {
  text-align:left;
  padding-right:20px;
}

