/*@charset "UTF-8";*/
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/

html, body, #root {
  height:100%;
}

/*Login*/

.login_wrap {
  padding: 6rem 0 4rem 0 ;
  height: 100%;
  background-image: url(https://d371bzke8qmfhi.cloudfront.net/styles/explore_hero/s3/images/navigation/mountrushmore_1.jpg?itok=4-xvtCQs);
}

.wrapper {
  padding: 6rem 0 4rem 0 ;
  position: relative;
  margin: 0;
}

.box {
  width: 400px;
  background: #FFF;
  margin: auto;
  border-radius: 25px;
}

.box .content {
  padding: 3rem;
}

.reg-content{
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.reg-content p{
  margin-bottom: 0px;
}

.align-center {
  text-align: center;
}

.login-name label{
  display: block;
}

.login-name input {
  margin-bottom: 20px;
  width: -webkit-fill-available;
}

p {
  margin-bottom: 0em;
}

.ui.compact.button {
  margin: 0px;
  width: -webkit-fill-available;
}

/*Camp-Registration*/

.reg-box {
  width: 50%;
  margin: auto;

}

.reg-name{
  display: flex;
  justify-content: space-between;
}

input {
  width: 250px;
}